.google-map {
  text-align: center;
  background: #E8E8E8;
  margin-top: -1.4rem;
}

h1 {
  color: #43464B;
  padding: 15px 0px;
  font-family: 'Roboto', sans-serif;
}

.footer {
  font-family: 'Arial', sans-serif;
  font-size: 10pt;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.app {
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 40px;
}

.copenhagen-map {
  width: 100%;
  float: right;
  margin-top: -1.4rem;
}

.search {
  padding-top: 10px;
  background: #FFFFFF;
}

.search input {
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.bm-burger-button {
  position: absolute;
  width: 35px;
  height: 30px;
  left: 35px;
  top: 35px;
  margin-top: -1em;
}

.bm-burger-bars {
  background: #373A47;
}

.bm-menu {
  max-height: 535px;
  padding-left: 1em;
  margin-top: -1.5em;
}
