.google-map {
  text-align: center;
  background: #E8E8E8;
  margin-top: -1.4rem;
}

h1 {
  color: #43464B;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
}

.footer {
  font-family: 'Arial', sans-serif;
  font-size: 12pt;
}
